<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/createuser" class="form-group" method="post">
      <label for="newusername">Username:</label>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input class="form-control flat" name="newusername" placeholder="username" type="text">
      </div>
      <label for="newuserpw">Password:</label>
      <input class="form-control flat" name="newuserpw" placeholder="password" type="password">
      <label for="location">Location:</label>
      <input class="form-control flat" name="location" placeholder="location" type="text">
      <label for="about">About:</label>
      <input class="form-control flat" name="about" placeholder="about" type="text">
      <label for="newemail">E-mail:</label>
      <input class="form-control flat" name="newemail" placeholder="email" type="text">
      <button class="btn btn-inverse" type="submit">submit</button>
    </form>
  </div>
</div>
