<div class="row">
  <div class="col-sm-4">
    <form class="form-group" action="/createuser" method="post">
        <label for="newusername">Username:</label>
        <input type="text" class="form-control flat" placeholder="username" name="newusername">
        <label for="newuserpw">Password:</label>
        <input type="password" class="form-control flat" placeholder="password" name="newuserpw">
        <label for="newemail">E-mail:</label>
        <input type="text" class="form-control flat" placeholder="email" name="newemail">
        <button type="submit" class="btn btn-inverse">submit</button>

    </form>
  </div>
</div>
